body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    padding: 40px;
    min-height: 640px;
    min-width: 400px;
}

.display-container {
    display: flex;
    background-color: rgb(255, 255, 255);
    min-height: 120px;
    min-width: 400px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.display {
    flex: 1;
    margin: 20px;
    font-size: 36px;
    text-align: right;
}

.buttons {
    display: grid;
    min-height: 440px;
    min-width: 400px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 88px);
}

#zero {
    grid-column: span 2;
}

.operator, #equals {
    color: white;
    background-color: orangered;
}

.top {
    color: black;
    background-color: rgb(163, 163, 163);
}

.digit, #dot {
    color: white;
    background-color: rgb(75, 75, 75);
}

button {
    border-radius: 30px;
    border-style: none;
    margin: 5px;
}